@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');
html {
  min-height: 100%;
  position: relative;
}
h1,h3 {

    color: #222831;
}


.first {
    margin: 20px;
}
.far {
    padding-right: 10px;
}


.footer-padding {
	padding-bottom: 60px;
}

.footer {
	position: absolute;
	text-align: center;
	bottom: 0;
	width: 100%;
	height: 60px;
	background-color: #1abc9c;
  position:absolute;
  overflow:hidden;
}

.footer p {
	margin-top: 25px;
	font-size: 12px;
  color: #fff;
  font-size: 20px;
}
.profile-style{

  width:350px;
  box-shadow: 0 0 3px 0 rgba(0,0,0,0.3);
  background: #fff;
  padding:20px;
  margin :4% auto 0;
  text-align: center;
  border-radius: 20px;

}

.transport-booking{
  border-right: 3px solid black;
}
.hotel-booking{
}
.Price{
  font-size: 22px;
}
.price{
  font-size: 22px;
  text-align:right;
  }
.fa-rupee-sign{
  padding-left: 10px;
}

.p1{
  text-align: center;
}
.btn{
  text-align: center;
}
.colors{
color: #1abc9c;


}



