{% extends "base.html" %}
{% block content %}
                <main>
                    <div class="text-center">
                        <div class="container" style="margin-top:220px;margin-left:225px;" >
                            <h1 class="display-4">🛠️ Hardware Shop 💻</h1>
                            <p class="lead">The best place to find all sorts of Hardware</p>
                            <hr class="my-4">
                            <p>You can enter a new, delete, modify a product ,see the employees add and delete,view the customer details and attendance of employees. </p>
                            <hr>
                            <h3 class="display-6">Current hardware types are Agriculture 🚜 , Tools 🔧 and Electrical ⚡.</h3>
                        </div>
                    </div>

                </main>
{% endblock %}