{% extends "baseadmin.html" %}
{% block content %}
<main>
    <div class="text-center">
        <div class="container" style="margin-top:60px;margin-left:220px;" >
           <h1>Future Analysis 🔮 </h1>
          
           <table class="table" style="text-align: center;">
            <tr>
                <td><img width=600 height=600 src='static\assets\output_normal.png'/></td>
                <td><img width=600 height=600 src='static\assets\output_future.png'/></td>
                
            </tr>
            <tr>
                <td><span><strong>The current analysis with respect to monthly data</strong></span></td>
                <td><span><strong>Future analysis wit respect to the monthly data</strong></span></td>
            </tr>

           </table>  
        </div>
    </div>
</main>
{% endblock %}