<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>CustomerName</th>
      <th>CustomerPhoneno</th>
      <th>Date</th>
      <th>EmployeeID</th>
      <th>EmployeeName</th>
      <th>Invoice NO</th>
      <th>Quantity</th>
      <th>Products</th>
      <th>Total</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>Shantheri Shenoy</td>
      <td>916361737546</td>
      <td>2021-06-05</td>
      <td>1</td>
      <td>Akshatha</td>
      <td>1190bf22-dbf9-436a-ae6e-13bb34dc3abf</td>
      <td>['2']</td>
      <td>['Toolbox']</td>
      <td>80</td>
    </tr>
    <tr>
      <th>1</th>
      <td>Ashwini</td>
      <td>916361737546</td>
      <td>2021-06-05</td>
      <td>1</td>
      <td>Akshatha</td>
      <td>9e97706b-3b27-4575-8378-9a605589c017</td>
      <td>['1', '1', '1']</td>
      <td>['Lawnmover', 'Magnet', 'Toolbox']</td>
      <td>150</td>
    </tr>
    <tr>
      <th>2</th>
      <td>Shakuni</td>
      <td>7777777777</td>
      <td>2021-06-05</td>
      <td>1</td>
      <td>Akshatha</td>
      <td>38513637-d260-4e68-93ad-bc800b3a6c3c</td>
      <td>['1']</td>
      <td>['Toolbox']</td>
      <td>40</td>
    </tr>
    <tr>
      <th>3</th>
      <td>Prateek</td>
      <td>8987858684</td>
      <td>2021-06-06</td>
      <td>3</td>
      <td>Ashika</td>
      <td>d1ab0185-9769-4d32-86ed-2beaf7abd119</td>
      <td>['1']</td>
      <td>['Toolbox']</td>
      <td>40</td>
    </tr>
    <tr>
      <th>4</th>
      <td>Renu</td>
      <td>9449717197</td>
      <td>2021-06-06</td>
      <td>3</td>
      <td>Ashika</td>
      <td>596996bd-656d-4418-8f91-e677c992dc7b</td>
      <td>['1']</td>
      <td>['Magnet']</td>
      <td>20</td>
    </tr>
    <tr>
      <th>5</th>
      <td>Renu</td>
      <td>9449717197</td>
      <td>2021-06-06</td>
      <td>3</td>
      <td>Ashika</td>
      <td>89f1cbbe-c800-42b9-9665-d82b5440c5a7</td>
      <td>['1']</td>
      <td>['Magnet']</td>
      <td>20</td>
    </tr>
    <tr>
      <th>6</th>
      <td>Akki</td>
      <td>4879561234</td>
      <td>2021-06-06</td>
      <td>1</td>
      <td>Akshatha</td>
      <td>259ba5b2-ed9f-4865-8ccc-a8c6e5069b37</td>
      <td>['1']</td>
      <td>['Lawnmover']</td>
      <td>90</td>
    </tr>
    <tr>
      <th>7</th>
      <td>Keerthi</td>
      <td>78797675743</td>
      <td>2021-06-06</td>
      <td>3</td>
      <td>Ashika</td>
      <td>4499d686-5c72-403d-98f7-2b23e1ac2e19</td>
      <td>['1']</td>
      <td>['Toolbox']</td>
      <td>40</td>
    </tr>
    <tr>
      <th>8</th>
      <td>anu</td>
      <td>898785868451</td>
      <td>2021-06-06</td>
      <td>1</td>
      <td>Akshatha</td>
      <td>cf94f591-18ca-4ac5-ba2b-91bceabc1201</td>
      <td>['1']</td>
      <td>['Toolbox']</td>
      <td>40</td>
    </tr>
    <tr>
      <th>9</th>
      <td>kruti</td>
      <td>4859671234</td>
      <td>2021-06-06</td>
      <td>1</td>
      <td>Akshatha</td>
      <td>ad4aa189-c349-49b4-a058-58ecbd25e6a4</td>
      <td>['1']</td>
      <td>['Magnet']</td>
      <td>20</td>
    </tr>
    <tr>
      <th>10</th>
      <td>Shreya</td>
      <td>9895967475</td>
      <td>2021-06-06</td>
      <td>1</td>
      <td>Akshatha</td>
      <td>a55244cf-9bd8-4093-a84d-73c7e55588f8</td>
      <td>['1']</td>
      <td>['Spoon']</td>
      <td>10</td>
    </tr>
    <tr>
      <th>11</th>
      <td>Chaitra</td>
      <td>9449717548</td>
      <td>2021-06-19</td>
      <td>1</td>
      <td>Akshatha</td>
      <td>958f40d9-0f79-4956-b609-7aa8196edb81</td>
      <td>['10']</td>
      <td>['Toolbox']</td>
      <td>400</td>
    </tr>
    <tr>
      <th>12</th>
      <td>Pinky</td>
      <td>9448445878</td>
      <td>2021-06-26</td>
      <td>1</td>
      <td>Akshatha</td>
      <td>58611537-0bb4-41c9-933b-f9e2114398d7</td>
      <td>['1']</td>
      <td>['Lawnmover']</td>
      <td>90</td>
    </tr>
    <tr>
      <th>13</th>
      <td>Shantheri Shenoy</td>
      <td>916361737546</td>
      <td>2021-07-06</td>
      <td>1</td>
      <td>Akshatha</td>
      <td>f32a17b7-bda0-428c-8246-092713d21291</td>
      <td>['1']</td>
      <td>['Lawnmover']</td>
      <td>24</td>
    </tr>
  </tbody>
</table>