<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Name</th>
      <th>Id</th>
      <th>Time</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>Akshatha</td>
      <td>1</td>
      <td>2021-06-04 19:01:14.004651</td>
    </tr>
    <tr>
      <th>1</th>
      <td>Akshatha</td>
      <td>1</td>
      <td>2021-06-04 19:07:43.047605</td>
    </tr>
    <tr>
      <th>2</th>
      <td>Akshatha</td>
      <td>1</td>
      <td>2021-06-04 19:15:19.487889</td>
    </tr>
    <tr>
      <th>3</th>
      <td>Akshatha</td>
      <td>1</td>
      <td>2021-06-04 19:16:05.923589</td>
    </tr>
    <tr>
      <th>4</th>
      <td>Akshatha</td>
      <td>1</td>
      <td>2021-06-04 19:16:45.199449</td>
    </tr>
    <tr>
      <th>5</th>
      <td>Akshatha</td>
      <td>1</td>
      <td>2021-06-04 19:17:31.218651</td>
    </tr>
    <tr>
      <th>6</th>
      <td>Akshatha</td>
      <td>1</td>
      <td>2021-06-04 19:19:14.157266</td>
    </tr>
    <tr>
      <th>7</th>
      <td>Shreyas</td>
      <td>2</td>
      <td>2021-06-04 19:30:24.715400</td>
    </tr>
    <tr>
      <th>8</th>
      <td>Akshatha</td>
      <td>1</td>
      <td>2021-06-04 19:37:42.012207</td>
    </tr>
    <tr>
      <th>9</th>
      <td>Akshatha</td>
      <td>1</td>
      <td>2021-06-04 19:41:50.588706</td>
    </tr>
    <tr>
      <th>10</th>
      <td>Akshatha</td>
      <td>1</td>
      <td>2021-06-04 19:50:23.666537</td>
    </tr>
    <tr>
      <th>11</th>
      <td>Akshatha</td>
      <td>1</td>
      <td>2021-06-04 20:08:35.290159</td>
    </tr>
    <tr>
      <th>12</th>
      <td>Akshatha</td>
      <td>1</td>
      <td>2021-06-04 20:30:46.210524</td>
    </tr>
    <tr>
      <th>13</th>
      <td>Akshatha</td>
      <td>1</td>
      <td>2021-06-04 20:36:45.374346</td>
    </tr>
    <tr>
      <th>14</th>
      <td>Akshatha</td>
      <td>1</td>
      <td>2021-06-04 20:37:17.450938</td>
    </tr>
    <tr>
      <th>15</th>
      <td>Ashwini</td>
      <td>0</td>
      <td>2021-06-04 20:37:54.789977</td>
    </tr>
    <tr>
      <th>16</th>
      <td>Akshatha</td>
      <td>1</td>
      <td>2021-06-04 21:41:33.217924</td>
    </tr>
    <tr>
      <th>17</th>
      <td>Shreyas</td>
      <td>2</td>
      <td>2021-06-04 21:44:17.737165</td>
    </tr>
    <tr>
      <th>18</th>
      <td>Ashika</td>
      <td>3</td>
      <td>2021-06-04 21:47:28.874415</td>
    </tr>
  </tbody>
</table>